@import "tailwindcss";

/* custom theme  */
@theme {

    --color-primary-50: #EBF1F7;
    --color-primary-100: #D6E3EE;
    --color-primary-200: #ADC7DD;
    --color-primary-300: #84ABCC;
    --color-primary-400: #5B8FB9;
    --color-primary-500: #2E5E8C;
    --color-primary-600: #264D72;
    --color-primary-700: #1E3B58;
    --color-primary-800: #172A3E;
    --color-primary-900: #101D2B;

    --color-secondary-50: #F0F5F9;
    --color-secondary-100: #DCE8F0;
    --color-secondary-200: #B8D0E2;
    --color-secondary-300: #94B9D3;
    --color-secondary-400: #70A1C4;
    --color-secondary-500: #5B8FB9;
    --color-secondary-600: #4A7494;
    --color-secondary-700: #38596F;
    --color-secondary-800: #273F4F;
    --color-secondary-900: #16252F;

    --color-accent-50: #F2F7F8;
    --color-accent-100: #E5F0F1;
    --color-accent-200: #CDE1E4;
    --color-accent-300: #A8C6D4;
    --color-accent-400: #87B2C3;
    --color-accent-500: #6A9EB2;
    --color-accent-600: #548697;
    --color-accent-700: #406877;
    --color-accent-800: #2E4B57;
    --color-accent-900: #1C3038;


    --color-background: #F4F1EA;
    --color-surface: #FFFFFF;
    --color-border: #D6E3EE;
    --color-text-primary: #0F172A;
    --color-text-secondary: #475569;


    --color-status-backlog: #64748B;
    --color-status-todo: #3B82F6;
    --color-status-inprogress: #F59E0B;
    --color-status-review: #8B5CF6;
    --color-status-done: #10B981;


    --color-priority-urgent: #DC2626;
    --color-priority-high: #F97316;
    --color-priority-medium: #EAB308;
    --color-priority-low: #9CA3AF;

    --color-danger: #DC2626;
}


@layer base {
    body {
        @apply text-text-primary font-sans antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-text-primary;
    }
}


::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #F4F1EA;
}

::-webkit-scrollbar-thumb {
    background: #A8C6D4;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5B8FB9;
}


*:focus-visible {
    outline: 1px solid #5B8FB9;
    outline-offset: 1px;
    border-radius: 4px;
}